body {
	margin: 0 auto;
  
}

.container > div {
  box-sizing: border-box;
}

.baner {
	background-color: #829EB9;
	height: 50px;
	font-family: 'Arial';
	text-align: center;
}

.prawy {
	float: right;
	background-color: #E0E8F1;
	height: 600px;
	width: 75%;
}

.lewy {
  height: 600px;
  width: 25%;
  background-color: #B3C6D9;
	float: left;
}

.stopka{
  background-color: #829EB9;
  font-family: Arial;
  text-align: right;
	clear: both;
}

img {
  margin: 30px;
  padding: 10px;
  border: 2px dashed #B3C6D9;
  
}

table {
  margin: 30px;
  border: 2px solid;
  width: 70%;
}

tr:hover {
  background-color: blue;
  color: white;
}

th {
  background-color: #B3C6D9;
  border: 2px solid;
}

td {
  border: 2px solid;
}

a {
  margin: 30px;
}

ol {
  margin: 0;
}